@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

 :root{
 --dark-violet:hsl(256, 26%, 20%);
 --grayish-blue:hsl(216, 30%, 68%);
 --very-dark-violet:hsl(270, 9%, 17%);
 --dark-grayish-violet:hsl(273, 4%, 51%);
 --light-gray:hsl(0, 0%, 98%);

 }

 /*  font-family: "DM Serif Display", serif;*/

 /* utlity class */
 .container{
    
    max-width: 1400px;
    margin: auto;
    padding: 0 2rem;
 }
 .line{
    width: 140px;
    height: 1px;
    background: var(--light-gray);
 }

 .btn-primary{
    padding: 8px 24px;
    border: 1px solid var(--light-gray);
 }

 *{
    margin: 0; padding: 0; box-sizing: border-box;
 }

 body{
    font-size: 16px;
    font-family: "Karla", sans-serif;
 }

 header{
    background: var(--light-gray);
 }


 /* header styling start */
 header{
    position: relative;
    z-index: 10;
 }

 header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1400px;
    margin: auto;
    padding: 0 2rem;
    position: relative;
    z-index: 0;
 }

 

 header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header nav ul li a{
    text-decoration: none;
    margin-left:20px;
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
  }

  header nav ul li a:hover{
    color: var(--dark-violet);
  }

 header nav ul li:last-child a{
    border: 1px solid var(--dark-violet);
    padding: 8px 20px;
    color: var(--dark-violet);
    transition: 0.3s; 
   }

 header nav ul li:last-child a:hover{
    color: var(--light-gray);
    background: var(--dark-violet);
   }

    header nav .hamburger{
      display: none;
      cursor: pointer;
    }
   /* header styling end */

/* home section start */
#home{
 background: var(--dark-violet);
 height: 65vh;
 position: relative;
 z-index: 1;
}

#home::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 27.5rem;
    left: 0;
    background: url(images/bg-pattern-intro-left-desktop.svg) no-repeat;
   z-index: -1;
   }

#home::after{
    content: '';
    width: 34%;
    height: 100%;
    position: absolute;
    top: -60px;
    right: -205px;
    background: url(images/bg-pattern-intro-right-desktop.svg) no-repeat;
}




.home-content{

    display: flex;
    gap: 4rem;
    padding-top: 8rem;
    color: var(--light-gray);
}

.home-content h1{
    font-size: 75px;
    line-height: 1;
    margin-top: 3rem;
   font-weight: 400;
   font-family: "DM Serif Display", serif;
}

.home-content p{
    line-height: 1.5;
    margin: 25px 0 35px;
    color: var(--light-gray);
}

.home-content a{
    /* display: inline-block; */
    text-decoration: none;
    color: var(--light-gray);
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.home-content a:hover , #card .row a:hover{
   background: var(--light-gray);
   color: var(--dark-violet);
}

/* home section end */

/* we are defferent style start */
#we-are-different{
   
   padding: 22rem  0 3rem;
}
.line{
   background: var(--dark-violet);
   
}


#we-are-different h2{
   font-family: "DM Serif Display", serif;
   font-size: 60px;
   font-weight: 400;
   color: #333;
   margin: 2.5rem 0 4rem;
}

#we-are-different .row{
   
   display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2.5rem;
}

#we-are-different .row .item h3{
   font-family: "DM Serif Display", serif;
   margin: 1.8rem 0 1.2rem;
   font-size:27px ;
   font-weight: 300;
}

#we-are-different .row .item p{
   /* font-weight: 300; */
   color: var(--dark-grayish-violet);
}



/* we are defferent style end */

/*card section start  */
#card{
   padding: 5rem 0;
  
}

#card .row{
   background: var(--dark-violet);
   height: 15.5rem;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 6rem 5rem;
   position: relative;
   z-index: 10;
}

#card .row::after{
   content: '';
   width:36%;
   height:100%;
   position: absolute;
   top: 0;
   right:0;
   background: url(images/bg-pattern-how-we-work-desktop.svg) no-repeat;
   z-index: -1;
   
}
#card .row h2{
   font-family: "DM Serif Display", serif;
   font-size: 45px;
   font-weight: 500;
   line-height: 1;
 color: var(--light-gray);
}

#card .row a{
   text-decoration: none;
   color: var(--light-gray);
   transition: all 0.3s ease-out;
   cursor: pointer;
}

/*card section send  */

/* footer start */

footer{
   background: var(--light-gray);
   padding: 3rem 0;
   position: relative;
   z-index: 1;
}

footer::before{
   content: '';
   top: 0;
   left: 10;
   width: 100%;
   height: 100%;
   position: absolute;
   background: url(images/bg-pattern-footer-desktop.svg) no-repeat;
   z-index: -1;
}


footer .footer-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #d1d1d1;
   padding-bottom: 1.8rem;

}

footer .footer-top ul{
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
}

footer .footer-top ul li a{
   margin: 0.5rem;
}

.icon{
transition: 0.2s;
fill: #837D88;

}

.icon:hover{
   fill: var(--dark-violet);
  

}



footer .footer-bottom{
   padding-top: 2.5rem;
   display: grid;
   grid-template-columns: repeat(4 , 1fr);
}

footer .footer-bottom .col h3{
   padding-bottom: 1.75rem;
   font-family: "DM Serif Display", serif;
   color: var(--dark-grayish-violet);
   font-weight: 400;
}

footer .footer-bottom .col ul li{
   list-style: none;
   margin: 1.25rem 0;
}

footer .footer-bottom .col ul li a{
   text-decoration: none;
   color: var(--very-dark-violet);
   font-weight: 500;
   letter-spacing: 1;
   font-size: 1.25rem;

}

footer .footer-bottom .col ul li a:hover{
   text-decoration: underline;
}


@media (max-width:600px){
   header nav ul{
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 999;
      background: var(--dark-violet);
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
      transition: 0.3s;
      
   }


   header nav ul li{
      margin: 2rem 0;
      
   }
 header nav ul.active{
   opacity: 1;
      visibility: visible;
      transform: translateY(0);
 }

  header nav ul li a , header nav ul li:last-child a{
  color: var(--light-gray);
  }
  header nav ul li:last-child a{
   border: 1px solid var(--light-gray);
  }
   header nav ul li a:hover , header nav ul li:last-child a:hover{
color: var(--light-gray);
   }

    header nav .hamburger{
      display: block;
    }

    header nav .hamburger .bar ,  header nav .hamburger .x-mark{
      display: none;
   }
      header nav .hamburger .bar.active ,  header nav .hamburger .x-mark.active{
      display: block;
    }

   
    #home .container{
      padding: 0;
    }

#home{
 background: var(--dark-violet);
 height: 65vh;
 position: relative;
 z-index: 1;
}


 

     #home::before{
       content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 36.5rem;
    left: 0;
    background: url(images/bg-pattern-intro-left-mobile.svg) no-repeat;
   z-index: -1;
   }
#home::after{
    content: '';
    width: 25%;
    height: 100%;
    position: absolute;
    top: 65.5rem;
    right: 0;
    background: url(images/bg-pattern-intro-right-mobile.svg) no-repeat;
   
} 


   

    .home-content{
      flex-direction: column-reverse;
      padding-top: 0;
      /* gap: 20rem; */
      text-align: center;
      background: var(--dark-violet);
      
    }

    .home-content h1{
      margin-top: 1.5rem;
      font-size: 55px;
    }

    .home-content p{
      line-height: 2;
      font-size: 20px;
    }

    .home-content a{
      padding: 16px 48px;
    }

    
    .content-left{
      padding: 3rem;
    }

    .line{
      margin: auto;
    }
    #we-are-different{
   padding: 55rem 0 3rem  ;
   text-align: center;
 
}

#we-are-different h2{
   text-align: center;
   /* font-size: 40px; */
}

#we-are-different .row{
   grid-template-columns: 1fr;
   gap: 3.5rem;
   width: 100%;
}
.container{
   padding: 1rem;
}

#we-are-different .row .item p{
   /* letter-spacing: 2; */
   font-size: 1.4rem;
}

#card .row{
   flex-direction: column;
   text-align: center;
   height: 23rem;
   gap: 2rem;
   padding: 6rem 2rem;

}
#card .row::after{
   content: '';
   width:40%;
   height:100%;
   position: absolute;
   top: 0;
   right:0;
   background: url(images/bg-pattern-how-we-work-mobile.svg) no-repeat;
   z-index: -1;
   
}

#card .row a{
   padding: 10px 34px;
}

footer::before{
   content: '';
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: absolute;
   background: url(images/bg-pattern-footer-mobile.svg) no-repeat;
   z-index: -1;
}

footer .footer-top{
   flex-direction: column;
   gap: 2rem;
}

footer .footer-bottom{
   grid-template-columns: 1fr;
   text-align: center;
}

footer .footer-bottom .col h3{
padding: 2rem 0;
}


}
